/**
 *
 * @name Phoenix
 * @description Glow up while chatting
 * @author Pukima
 * @authorId 751092600890458203
 * @version 1.0.0
 * @updateURL https://phoenixcolors.github.io/phoenix-discord/components/phoenix.theme.css
 * @website https://phoenixcolors.github.io/phoenix-discord/
 * @invite ngkUdXQZ8P
 * @donate https://ko-fi.com/pukima
 *
 */
/* Imports */
@import url('https://phoenixcolors.github.io/phoenix-discord/components/css/chat.css');
@import url('https://phoenixcolors.github.io/phoenix-discord/components/css/friends.css');
@import url('https://phoenixcolors.github.io/phoenix-discord/components/css/member-list.css');
@import url('https://phoenixcolors.github.io/phoenix-discord/components/css/server-list.css');
@import url('https://phoenixcolors.github.io/phoenix-discord/components/css/other.css');
@import url('https://phoenixcolors.github.io/phoenix-discord/components/css/support.css');
@import url('https://phoenixcolors.github.io/phoenix-discord/components/css/settings.css');

@import url("https://goose-nest.github.io/GT-RevertRebrand/src/main.css");
@import url("https://nyri4.github.io/Discolored/main.css");

/* Variables for you to change */
:root {
    --wordmark: none;
    --avatar-radius: 8px;
    --server-radius: 25px;
    --mention-color-bar: #f9a075;
    --mention-color-background: #f9a1751f;
    --mention-color-hover: #f9a17525;
    --textcolor: #dadada;
}
  
.theme-dark {
    --background-tertiary: #10101b;
    --background-secondary: #1e1e31;
    --background-secondary-alt: #1c1c2c;
    --background-primary: #272942;
    --background-mobile-primary: #272942;
    --background-mobile-secondary: #1e1e31;
    --channeltextarea-background: #1c1c2c;
    --background-accent: #6E85D3;
    --background-message-hover: transparent;
    --background-modifier-hover: #1f1f31;
    --background-modifier-active: #1f1f31;
    --background-modifier-selected: #1c1c2c;
    --deprecated-card-bg: #12131f63;
    --background-floating: #1b1b2e;
    --deprecated-quickswitcher-input-background:#11101b;
    --elevation-low: none;
    --scrollbar-auto-thumb: #151520;
    --scrollbar-auto-track: #1c1c2c;
    --scrollbar-thin-thumb: #151520;
    --toast-background: #1e1e31 !important;
    --toast-header: #10101b !important;
    --toast-contents: #272942 !important;
    --activity-card-background: #10101b;
}
  
.theme-light {
    --background-tertiary: #10101b;
    --background-secondary: #1e1e31;
    --background-secondary-alt: #1c1c2c;
    --background-primary: #272942;
    --background-accent: #6E85D3;
    --background-modifier-hover: #262641;
    --background-modifier-active: #262641;
    --header-primary: #fff;
    --header-secondary: #b1b5b9;
    --text-normal: #8e9297;
}