// ----- Unthemed -----
// -Create Text Channel Popout-
.modal-2VIBV8 {
    background-color: var(--background-primary) !important;
}

// -URL Popoup-
.root-1gCeng {
     background-color: var(--background-secondary) !important;
}

// Slash Command Headers
.categoryHeader-O1zU94 {
    background-color: var(--background-secondary);
}

// -Spotify Embed-
.invite-18yqGF {
    background: var(--background-secondary) !important;
    border: none;

    &:hover {
        background: var(--background-secondary-alt) !important;
    }
}

// -Invite-
.wrapper-35wsBm {

    &:hover {
        background-color: var(--background-secondary-alt) !important;
    }
}

// Invite Modal
.contentWrapper-3WC1ID {
    background: var(--background-secondary-alt) !important;
}

// Nitro Boosts
.perksModal-fSYqOq {
    background-color: var(--background-primary) !important;
    
    // Bar
    .barBackground-2EEiLw {
        background-color: var(--background-tertiary);
    }

    .tierMarkerGroup-xg6A1d {
        .tierMarkerBackground-3q29am {
            background-color: var(--background-primary);
        }

        .tierMarkerInProgress-24LMzJ {
            background: rgb(18, 19, 31) !important;
        }
    }

    // Tier Cards
    .tierHeaderLocked-1s2JJz {
        background-color: var(--background-floating);
    }

    .tierBody-16Chc9 {
        background-color: var(--background-tertiary);
    }

    .perk-2WeBWW {
        background-color: var(--background-secondary);
    }
}

// Status Picker
// Inline status selection
#status-picker {
	.mask-1qbNWk {
		height: 75%;
		width: 75%;
        margin-left: 25%;
        margin-top: 10%;
	}
	>.scrollerBase-289Jih {
		display: grid;
	}
	.separator-2I32lJ {
		display: none;
	}
	.description-2L932D {
		display: none;
	}
	.item-1tOPte {
		&:not(#status-picker-custom-status) {
			.status-1fhblQ {
				display: none;
			}
		}
	}

    // Account Switcher
    div[role="group"] {
        display: grid;
        grid-column: 5/6;
        grid-row: 1/2;

        .customEmoji-2_2FwB {
            height: 24px;
            width: 24px;
        }
        
        .iconContainer-2-XQPY {
            display: none;
        }
    }
}

#status-picker-custom-status {
    width: 93%;
    padding: 8px 2px;
	grid-column: 1/6;

    .customEmojiPlaceholder-37iZ_j {
        background-image: url('https://discord.com/assets/7c010dc6da25c012643ea22c1f002bb4.svg');
    }
}
#status-picker-online {
	--status-colour: var(--bsi-online-color, rgb(59, 165, 92));
}
#status-picker-idle {
	--status-colour: var(--bsi-idle-color, rgb(250, 166, 26));
}
#status-picker-dnd {
	--status-colour: var(--bsi-dnd-color, rgb(237, 66, 69));
}
#status-picker-invisible {
	--status-colour: var(--bsi-invisible-color, rgb(116, 127, 141));
}
#status-picker {
	.item-1tOPte {
		&:not(#status-picker-custom-status) {
			&:active {
				background-color: var(--status-colour);
			}
		}
		&:not(#status-picker-custom-status).focused-3afm-j {
			background-color: var(--status-colour);
		}
		&:active {
			.status-1AY8sU {
				background-color: white !important;
			}
		}
	}
	.item-1tOPte.focused-3afm-j {
		.status-1AY8sU {
			background-color: white !important;
		}
	}
}

// -Delete Popout-
.message-2qRu38 {
    background-color: var(--background-primary) !important;
}

// Chat Window
.content-98HsJk {
    padding: 8px;
}

.scroller-1Bvpku {
    top: 8px;
    height: calc(100% - 8px);
}

.sidebar-2K8pFh {
    border-bottom-left-radius: 8px !important;
    border-top-left-radius: 8px !important;
}

.chat-3bRxxu {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

// Search
.theme-dark .container-3ayLPN{
    background: var(--background-secondary);

    .option-96V44q:after {
        display: none;
    }    
}

.theme-dark .option-96V44q.selected-rZcOL-,
.queryContainer-RKFJW-:hover {
    background-color: var(--background-secondary-alt);
}

// Reactions
.scroller-1-nKid {
    background: var(--background-secondary) !important;
}

.reactors-Blmlhw {
    background-color: var(--background-primary) !important;
}

// ------Mentions------
.message-2qnXI6.mentioned-xhSam7 {
    background-color: var(--mention-color-background);

    &::before {
        background: var(--mention-color-bar);
        padding: 1px;
    }

    &:hover {
        background-color: var(--mention-color-hover) !important;
    }
}

// ---Sticker---
.clickableSticker-3HmpgV {
    .assetWrapper-3GNt0z {
        width: 100px !important;
        height: 100px !important;
    }
}

// ------Chatbar----- 

// Autocompletion
.autocomplete-1vrmpx {
    background-color: var(--background-secondary-alt) !important;

    .selected-1Tbx07 {
        background-color: var(--background-secondary) !important;
    }
}

// Disabled Channels (you cant write in them) 
.innerDisabled-1YTFPN {
    display: none;
}


// Hides Cooldown Text and just shows Cooldown Icon 
.cooldownWrapper-3joyFc{
    font-size: 0;
}
.slowModeIcon-1BPDC_{
    margin: 0;
}

// ---Upload Popup---
.uploadModal-2ifh8j {
    background-color: var(--background-primary) !important;

    .footer-3mqk7D {
        background-color: var(--background-secondary) !important;
        box-shadow: none;
    }
}

// -----Voicechat-----
.container-1giJp5 {
    border-bottom: none;
}