// Powercord --- Spotify
.powercord-spotify {
    .button-14-BFJ.enabled-2cQ-u7:hover {
        background-color: transparent;
    }

    .spotify-seek-bar-progress {
        position: absolute;
        height: 56px;
        transition: .2s;
        bottom: 0px;
        z-index: -1;
        opacity: .25;
    }
}

.powercord-spotify.hover {
    .spotify-seek-bar-progress {
        height: 83px;
        transition: .25s;
    }
}

// Powercord --- Donator
.modal-yWgWj- {
    background-color: var(--background-secondary) !important;
}