:root .bannerPremium-2hSAwz {
  background-color: transparent !important;
}

:root .userPopout-xaxa6l {
  overflow: hidden;
  -webkit-transform: translateZ(0) !important;
          transform: translateZ(0) !important;
  --usrbg-banner-height: 120px;
}

:root .userPopout-xaxa6l .avatarPositionPremium-3We5Ho {
  top: 0px;
}

:root .userPopout-xaxa6l .divider-ewBQKj {
  display: none;
}

:root .userPopout-xaxa6l .avatar-37jOim {
  border: 6px solid transparent;
  background-color: transparent;
}

:root .userPopout-xaxa6l .avatarWrapperNormal-26WQIb {
  top: 125px;
  left: 33%;
}

:root .userPopout-xaxa6l .popoutBanner-19WKGg {
  height: 120px;
}

:root .userPopout-xaxa6l .bannerPremium-2hSAwz {
  z-index: 2;
}

:root .userPopout-xaxa6l .headerTop-3vNv-a {
  padding-top: 100px;
}

:root .userPopout-xaxa6l .headerTop-3vNv-a .profileBadges-ohc0Vu {
  position: static;
  top: unset;
  right: unset;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
}

:root .userPopout-xaxa6l .headerTop-3vNv-a .headerText-1vVs-U {
  text-align: center;
}

:root .userPopout-xaxa6l .customStatus-oN4ZZY {
  text-align: center;
}

:root .userPopout-xaxa6l .customStatus-oN4ZZY .customStatusEmoji-3a2-Zo {
  margin: 0;
}

:root .userPopout-xaxa6l .aboutMeSection-1Fw5Ia {
  text-align: center;
}

:root .userPopout-xaxa6l .aboutMeSection-1Fw5Ia .aboutMeTitle-1IYtPE {
  margin-left: 39%;
}

:root .userPopout-xaxa6l:not([style*="-user-"]) .avatar-37jOim {
  z-index: 1;
}

:root .userPopout-xaxa6l:not([style*="-user-"]) .avatar-37jOim::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: var(--USRBG-banner-height, 120px);
  pointer-events: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: var(--user-popout-position, center) center;
  background-image: var(--user-background);
}

:root .userPopout-xaxa6l:not([style*="-user-"]) .avatarHint-2A3RNb {
  display: none;
}

:root .userPopout-xaxa6l:not([style*="-user-"]) .activity-2INFPu {
  background-color: var(--background-accent);
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 8px;
  margin-right: 8px;
}

:root .userPopout-xaxa6l:not([style*="-user-"]) .activity-2INFPu .headerTextNormal-2mGWX3 {
  color: #dadada;
}

:root .userPopout-xaxa6l .body-3HBlXn .activity-2INFPu .spotifyIcon-2J9kSv {
  display: none;
}

:root .userPopout-xaxa6l .body-3HBlXn .bodyInnerWrapper-26fQXj .role-2irmRk {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
  padding: 5px;
}

:root .userPopout-xaxa6l .body-3HBlXn .bodyInnerWrapper-26fQXj .role-2irmRk .roleCircle-3xAZ1j::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: .2;
  z-index: -1;
  pointer-events: none;
}

:root .root-1gCeng .connectedAccounts-QlRa4m img[alt="Battle.net Logo"]:before {
  content: "";
  width: 264px;
  height: 48px;
  background-color: blue;
}

:root .root-1gCeng .topSection-y3p-_D .header-4zuFdR .avatar-AvHqJA {
  background-color: transparent;
  border-color: transparent;
}

:root header {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

:root header .banner-2QYc2d {
  height: 240px;
}

:root header .profileBannerPremium-35utuo {
  z-index: 1;
}

:root header .wrapper-3t9DeA > svg {
  z-index: 2;
}

:root header .wrapper-3t9DeA::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 240px;
  pointer-events: none;
  background: var(--user-background) center/cover no-repeat;
}

:root .headerInfo-30uryT {
  position: relative;
  z-index: 1;
}

:root .body-r6_QPy .spotifyIcon-2J9kSv {
  display: none;
}

.wrapper-3t9DeA, .avatar-1BDn8e, .profile-1eT9hT .avatarUploaderInner-3UNxY3,
.voiceAvatar-14IynY, .avatar-3tNQiO, .border-Jn5IOt, .avatar-3bWpYy, .clickableAvatar-1wQpeh,
.emptyUser-7txhlW, .avatar-VxgULZ, .wrapper-2QE8vf.ringingIncoming-38YcLn::after,
.wrapper-2QE8vf.ringingOutgoing-mbXhhQ::after, .replyAvatar-1K9Wmr, .avatarSpeaking-2c8-9i,
.avatar-3Heyg_, .avatarContainer-2LLZwy, .appAvatar-3bgkQ9, .avatarWrapper-3r9PdD, .avatarWrapper-2yR4wp, .wrapper-2QE8vf, .wrapper-2QE8vf > foreignObject {
  border-radius: var(--avatar-radius) !important;
}
/*# sourceMappingURL=member-list.css.map */