.side-8zPYf6 > div[data-item-id=pc-moduleManager-themes],
.side-8zPYf6 > div[data-item-id=pc-moduleManager-themes] ~ div {
  order: 3;
}

.side-8zPYf6 > div[data-item-id=theme-toggler] {
  order: 2 !important;
}

.powercord-spotify .button-14-BFJ.enabled-2cQ-u7:hover {
  background-color: transparent;
}
.powercord-spotify .spotify-seek-bar-progress {
  position: absolute;
  height: 56px !important;
  transition: 0.2s;
  bottom: 0px;
  z-index: -1;
  opacity: 0.25;
}

.powercord-spotify.hover .spotify-seek-bar-progress {
  height: 83px !important;
  transition: 0.2s;
}

.modal-yWgWj- {
  background-color: var(--background-secondary) !important;
}

.powerclock.sticky {
  top: -10px !important;
}

.channelIcon-1MN1lz {
  display: inline-block;
  margin-right: 1px;
  position: relative;
  vertical-align: bottom;
}

#app-mount .wrapper-3WhCwL {
  display: inline-block;
  position: relative;
}